body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

form {
    text-align: center;

    width: 50%;
    height: 100vh;

    padding-top: 50px;
    margin: 0;

    box-sizing: border-box;
}

form:first-child {
    border-right: 1px solid darkgrey;
}

input {
    width: 150px;
    height: 20px;

    padding-right: 20px;
    padding-left: 10px;

    margin-right: 10px;
}

select {
    width: 170px;
    height: 25px;

    margin-right: 10px;
}

.order__btn {
    height: 25px;
}

.check {
    width: 100%;
    text-align: center;
}

.wrapper {
    position: relative;
    display: inline;
}

.drop_out {
    position: absolute;
    right: 20px;
    top: 4px;

    width: 15px;
    height: 15px;

    background: transparent url("images/arrow_down.svg") center no-repeat;
    border: none;

    cursor: pointer;
}